<!DOCTYPE HTML>
<html>
<head>
<title>main</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<form action="/logout" method="post">
			<input type="submit" value="Sign Out" /> <input type="hidden"
				name="_csrf" value={{_csrf.token}} />
		</form>
	</div>
	<div>
		<form method="post">
			<input type="text" name="name" placeholder="Введите имя пользователя">
			<input type="text" name="email" placeholder="Электронная почта">
			<input type="hidden" name="_csrf" value={{_csrf.token}} /> <br>
			<button type="submit">Добавить</button>
		</form>
	</div>
	<div>Список клиентов</div>
	<form method="post" action="filter">
		<input type="text" name="filter" placeholder="Что ищем?"> <input
			type="hidden" name="_csrf" value={{_csrf.token}} />
		<button type="submit">Искать</button>
	</form>
	{{#users}}
	<table>
	<tr>
	<td>{{id}}</td>
	<td>{{name}}</td>
	<td>{{email}}</td>
	</tr>
	</table>
	{{/users}}

</body>
</html>